* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: $body-family;
    font-size: $body-size;
    height: 100vh;
    position: relative;
    @media #{$small} {
        &::after {
            height: 50% !important;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 70%;
        width: 50%;
        border-radius: 0 0 0 100px;
        background-color: $after-bg;
        z-index: -111111;
    }
}
h1, h2, a,button {
    font-family: $heading-family;
}
a {
    font-size: 15px;
    font-weight: 600;
}

