section {
    @media #{$small}
     {
        padding: 30px 50px;
        justify-content: space-between;
        align-items: center;
        .main {
            width: 50%;
        }
        .img {
            width: 45%;
        }
     }
     @media #{$mobile} {
        flex-direction: column;
        .main {
            order: 2;
        }
        .img {
            order: 1;
        }
     }
     padding: 20px 20px;
     display: flex;
     .main {
        padding: 30px 0;
        .top {
            margin-bottom: 20px;
            span {
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                &.new {
                    letter-spacing: 1px;
                    color: $white;
                    display: inline-block;
                    padding: 5px 8px;
                    background-color: $title-color;
                    border-radius: 20px;
                    margin-right: 20px;
                }
                &.dash {
                    color: $text-color;
                    letter-spacing: 2px;
                }
            }
        }
        h1 {
            font-size: 30px;
            font-weight: 700;
            color: $title-color;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        .desc {
            font-size: 16px;
            line-height: 23px;
            font-weight: 500;
            color: $text-color;
            margin-bottom: 20px;
        }
        .contact {
            .preview {
                text-transform: uppercase;
                color: $text-color;
                letter-spacing: 1px;
                font-size: 15px;
            }
        }
     }
     .img {
        padding: 30px 0;
        img {
            width: 100%;
        }
     }
}