//familt
$body-family: "Barlow", sans-serif;
$heading-family: "Barlow Condensed", sans-serif;
// size
$body-size: 18px;
// colors
$after-bg: hsl(207, 33%, 95%);
$title-color: hsl(230, 29%, 20%);
$text-color: hsl(231, 7%, 65%);
$white: hsl(0, 0%, 100%);
$border-color: hsl(230, 11%, 40%);
$btn-bg: hsl(0, 100%, 68%);
$attribution-color: hsl(228, 45%, 44%);

//break point
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';