@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
/*globalstyles*/
h1,
a,
button {
  font-family: "Barlow Condensed", sans-serif;
}
li {
  width: 100px;
  text-align: center;
}
button {
  background: none;
  border: none;
  outline: none;
  padding: 80x 15px;
}
/*end of globalstyles*/
#page {
  max-width: 1440px;
  padding: 50px 100px;
  position: relative;
}
@media screen and (max-width: 375px) {
  #page {
    max-width: 375px;
    padding: 50px 10px;
  }
}
@media screen and (max-width: 375px) {
  .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo .close-btn {
    display: none;
  }
}
.bg {
  position: absolute;
  width: 50%;
  height: 70%;
  right: 0;
  top: -50px;
  background-color: hsl(207, 33%, 95%);
  border-radius: 0 0 0 100px;
  z-index: -111;
}
header {
  display: flex;
  justify-content: space-between;
}
nav,
ul {
  display: flex;
  justify-content: space-between;
}

li a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: hsl(230, 29%, 20%);
  line-height: 35px;
}

#login:hover,
li a:hover {
  text-decoration: underline;
}

#login {
  display: inline-block;
  width: 100px;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  color: hsl(231, 7%, 65%);
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 375px) {
  #login {
    margin-top: 15px;
  }
}
@media screen and (max-width: 375px) {
  nav {
    display: none;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 80px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    z-index: 11111;
  }
  ul {
    display: block;
    width: 100%;
    border-bottom: 1px solid hsl(230, 11%, 40%);
    padding-bottom: 15px;
  }
  ul li {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
  ul li a {
    display: block;
    width: 100%;
    text-align: center;
    color: hsl(230, 29%, 20%);
  }
  ul li:last-child {
    margin-bottom: 0px;
  }
}

.close-btn,
.open-btn {
  display: none;
}
@media screen and (max-width: 375px) {
  .open-btn {
    display: block;
  }
}
/*end of header*/
/*start of section*/
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
@media screen and (max-width: 375px) {
  section {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
section > div {
  width: 50%;
  overflow: hidden;
}
@media screen and (max-width: 375px) {
  section > div {
    width: 103%;
    -moz-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    margin-bottom: 30px;
  }
  main {
    width: 100%;
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
  }
}

main p span {
  display: inline-block;
  padding: 2px 6px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(230, 29%, 20%);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-right: 10px;
}
.top,
.preview {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(231, 7%, 65%);
  margin-bottom: 15px;
}
main h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 2px;
  color: hsl(230, 29%, 20%);
  width: 70%;
  margin-bottom: 20px;
}
@media screen and (max-width: 375px) {
  main h1 {
    width: 100%;
  }
}
.disc {
  font-size: 14px;
  font-weight: 400;
  color: hsl(230, 11%, 40%);
  width: 250px;
  margin-bottom: 15px;
}
@media screen and (max-width: 375px) {
  .disc {
    width: 100%;
  }
}
.demo {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 100%, 68%);
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}

.demo:hover {
  opacity: 0.7;
}
section > div img {
  width: 150%;
}
@media screen and (max-width: 375px) {
  footer {
    padding-bottom: 10px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
